<h2>Buscar piezas</h2>

<form method="get">

<label>Electrodoméstico</label>

<select name="familia" id="familia">

<option value="">Seleccionar</option>

<option value="Lavadora">Lavadora</option>
<option value="Lavavajillas">Lavavajillas</option>
<option value="Frigorífico">Frigorífico</option>
<option value="Vitroceramica">Vitroceramica</option>
<option value="Placa de Induccion">Placa de Induccion</option>
<option value="Horno">Horno</option>

</select>

<br><br>

<label>Tipo de pieza</label>

<select name="nombre_pieza" id="pieza">

<option value="">Seleccionar pieza</option>

</select>

<br><br>

<button type="submit">Buscar</button>

</form>


<h3>Resultados</h3>

{% for p in piezas %}

<div style="background:white;padding:10px;margin:10px 0;border-radius:8px;">

<b>{{p.nombre_pieza}}</b><br>

ID: {{p.id}} <br>

Modelo: {{p.modelo}} <br>

<a href="/item/{{p.id}}">Ver pieza</a>

</div>

{% endfor %}
<script>

document.getElementById("familia").addEventListener("change", function(){

    const familia = this.value

    fetch("/piezas_por_familia/" + familia)

    .then(response => response.json())

    .then(data => {

        const select = document.getElementById("pieza")

        select.innerHTML = ""

        data.forEach(pieza => {

            const option = document.createElement("option")

            option.value = pieza

            option.text = pieza

            select.appendChild(option)

        })

    })

})

</script>

{% endblock %}