<!DOCTYPE html>

<html>

<head>

<style>

@page {
size: 55mm 32mm;
margin: 0;
}

body{
width:55mm;
height:32mm;
margin:0;
padding:2mm;
font-family:Arial;
font-size:8px;
}

.container{
display:flex;
align-items:center;
}

.qr{
width:20mm;
}

.info{
margin-left:2mm;
width:30mm;
}

.id{
font-size:10px;
font-weight:bold;
}

.pieza{
font-weight:bold;
}

</style>

</head>

<body onload="window.print()">

<div class="container">

<div class="qr">

<img src="/qr/{{pieza.id}}" width="70">

</div>

<div style="font-size:12px; line-height:1.4">

<div><strong>ID:</strong> {{ pieza.id }}</div>

{% if pieza.nombre_pieza %}
<div><strong>Pieza:</strong> {{ pieza.nombre_pieza }}</div>
{% endif %}

{% if pieza.marca %}
<div><strong>Marca:</strong> {{ pieza.marca }}</div>
{% endif %}

{% if pieza.modelo %}
<div><strong>Modelo:</strong> {{ pieza.modelo }}</div>
{% endif %}

{% if pieza.familia %}
<div><strong>Tipo:</strong> {{ pieza.familia.nombre }}</div>
{% endif %}

{% if pieza.medidas %}
<div><strong>Medidas:</strong> {{ pieza.medidas }}</div>
{% endif %}

</div>

</body>

</html>