<!DOCTYPE html>

<html>

<head>

<style>

@page {
size: 55mm 32mm;
margin: 0;
}

body{
width:55mm;
height:32mm;
margin:0;
padding:2mm;
font-family:Arial;
font-size:8px;
}

.container{
display:flex;
align-items:center;
}

.qr{
width:20mm;
}

.info{
margin-left:2mm;
width:30mm;
}

.id{
font-size:10px;
font-weight:bold;
}

.pieza{
font-weight:bold;
}

</style>

</head>

<body onload="window.print()">

<div class="container">

<div class="qr">

<img src="/qr/{{pieza.id}}" width="70">

</div>

<strong>ID:</strong> {{ pieza.id }} <br>

{% if pieza.nombre_pieza %}
<strong>Pieza:</strong> {{ pieza.nombre_pieza }} <br>
{% endif %}

{% if pieza.marca %}
<strong>Marca:</strong> {{ pieza.marca }} <br>
{% endif %}

{% if pieza.modelo %}
<strong>Modelo:</strong> {{ pieza.modelo }} <br>
{% endif %}

{% if pieza.medidas %}
<strong>Medidas:</strong> {{ pieza.medidas }} <br>
{% endif %}
</div>

</div>

</body>

</html>