{% extends "base.html" %}

{% block title %}Ficha{% endblock %}

{% block content %}
<h3>Cambiar Estado</h3>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button name="nuevo_estado" value="FUNCIONA" class="btn" style="background:#28a745;">
        FUNCIONA
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button name="nuevo_estado" value="ESTROPEADO" class="btn" style="background:#dc3545;">
        ESTROPEADO
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button name="nuevo_estado" value="REPARADO" class="btn" style="background:#17a2b8;">
        REPARADO
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button name="nuevo_estado" value="PREPARADO_VENTA" class="btn" style="background:#007bff;">
        PREPARADO PARA VENTA
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button name="nuevo_estado" value="VENDIDO" class="btn" style="background:#6c757d;">
        MARCAR COMO VENDIDO
    </button>
</form>

{% endblock %}