{% extends "base.html" %}

{% block title %}Ficha{% endblock %}

{% block content %}

<h2>Ficha del Aparato</h2>

<div style="background:white;padding:15px;border-radius:10px;margin-bottom:20px;">
    <strong>ID:</strong> {{item.id}} <br>
    <strong>Familia:</strong> {{item.familia}} <br>
    <strong>Estado:</strong> {{item.estado}} <br>
    <strong>Origen:</strong> {{item.origen}} <br>
    <strong>Serie:</strong> {{item.serie}}
</div>

<h3>Código QR</h3>
<img src="/static/{{item.id}}.png" width="250">

<h3>Piezas del aparato</h3>

{% for hijo in hijos %}
<div style="background:white;padding:10px;margin:8px 0;border-radius:8px;">
<strong>ID:</strong> {{hijo.id}}
<a href="/item/{{hijo.id}}" class="btn">Ver pieza</a>
</div>
{% endfor %}

<a href="/crear_pieza/{{item.id}}" style="background:#17a2b8;color:white;padding:10px;border-radius:5px;text-decoration:none;">
➕ Añadir pieza
</a>

<h3>Cambiar Estado</h3>
<h3>Piezas del aparato</h3>

{% for hijo in hijos %}
<div style="background:white;padding:10px;margin:8px 0;border-radius:8px;">
<strong>ID:</strong> {{hijo.id}}
<a href="/item/{{hijo.id}}" class="btn">Ver pieza</a>
</div>
{% endfor %}

<a href="/crear_pieza/{{item.id}}" class="btn" style="background:#17a2b8;">
➕ Añadir pieza
</a>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button type="submit" name="nuevo_estado" value="FUNCIONA" class="btn" style="background:#28a745;">
        FUNCIONA
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button type="submit" name="nuevo_estado" value="ESTROPEADO" class="btn" style="background:#dc3545;">
        ESTROPEADO
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button type="submit" name="nuevo_estado" value="REPARADO" class="btn" style="background:#17a2b8;">
        REPARADO
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <button type="submit" name="nuevo_estado" value="PREPARADO_VENTA" class="btn" style="background:#007bff;">
        PREPARADO PARA VENTA
    </button>
</form>

<form method="post" action="/cambiar_estado_web/{{item.id}}">
    <a href="/vender/{{item.id}}" class="btn" style="background:#6c757d;">        
    Registrar Venta
</a>
    </button>
</form>
<h3>Piezas del aparato</h3>

{% for hijo in hijos %}
<div style="background:white;padding:10px;margin:8px 0;border-radius:8px;">
<strong>ID:</strong> {{hijo.id}}
<a href="/item/{{hijo.id}}" class="btn">Ver pieza</a>
</div>
{% endfor %}

<a href="/crear_pieza/{{item.id}}" class="btn" style="background:#17a2b8;">
➕ Añadir pieza
</a>

{% endblock %}