<h2>Nueva pieza</h2>

<form method="post" action="/crear_pieza_directa">

<label>Electrodoméstico</label>

<select id="familia">

<option value="">Seleccionar</option>

<option value="Lavadora">Lavadora</option>
<option value="Lavavajillas">Lavavajillas</option>
<option value="Frigorífico">Frigorífico</option>
<option value="Vitroceramica">Vitroceramica</option>
<option value="Placa de Induccion">Placa de Induccion</option>
<option value="Horno">Horno</option>

</select>

<br><br>

<label>Tipo de pieza</label>

<select name="nombre_pieza" id="pieza">

<option value="">Seleccionar pieza</option>

</select>

<label>Familia</label>

<select name="familia_id">

{% for f in familias %}
<option value="{{f.id}}">{{f.nombre}}</option>
{% endfor %}

</select>

<br><br>

<label>Nombre pieza</label>
<input type="text" name="nombre_pieza" required>

<br><br>

<label>Modelo aparato</label>
<input type="text" name="modelo">

<br><br>

<label>Medidas</label>
<input type="text" name="medidas">

<br><br>

<button type="submit">Crear pieza</button>

</form>